@model QUANLYSINHVIEN.Models.Lop

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Người dùng không có quyền truy cập</h4>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>