@model QUANLYSINHVIEN.Models.MonHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Mod/Views/Shared/_Layout.cshtml";
}

<h4>Người dùng không có quyền truy cập</h4>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaMh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
