@model QUANLYSINHVIEN.Models.MonHoc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Mod/Views/Shared/_Layout.cshtml";
}

<h4>Người dùng không có quyền truy cập</h4>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
